[Desktop Entry]
Version=1.0
Type=Application
Name=Whisper Linux
GenericName=Speech to Text
Comment=Speech-to-text transcription using OpenAI's Whisper
Exec=/usr/local/bin/run-whisper-linux.sh
Icon=/usr/local/share/icons/whisper-linux.png
Terminal=false
Categories=Utility;AudioVideo;Accessibility;
Keywords=transcription;speech;audio;recording;voice;text;whisper;
StartupNotify=true 